<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="css/main.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Raleway:300,400,600")
    title Improvements
  body
    .container
      .row
        .one-half.column
          h4 #{message}
          p
            | This index.html page is a placeholder with the CSS, font and favicon. It's just waiting for you to add some content! If you need some help hit up the 
            a(href="http://www.getskeleton.com") Skeleton documentation
            | .

