@import "base/normalize.scss";
@import "base/skeleton.scss";

h6.petition-header {
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .2rem;
  margin-bottom: 1rem;
}

.centered {
  display: flex;
  justify-content: center;
}

#petition {
  // margin-top: 3.5rem;
}

.page {
  margin-top: 6rem;
  margin-bottom: 6rem;

  .header {
    text-align: center;
  }
}

@media (min-width: 550px) {
  .page {
    margin-top: 18rem;
    margin-bottom: 18rem;
  }
}